<input type="url" placeholder="Search Google or type URL"
       style="font-size:20px;
              color:#202020;
              font-family: 'Arial Narrow';
              align:center;
              padding-top:4px ;
              border: none;
              outline: none;
              background-color: transparent;
              height:24px;
               width:560px">
<img src="assets/voice_search.jpeg"
     style="height:24px; width:auto;border: none;outline: none; background-color: transparent;margin-left:-50px">
