<div style="text-align:right; margin-top: 8px;color:#808080;padding:4px;line-height: 24px;font-size:14px;font-family: Arial " >
  <a style="margin-left:8px;line-height: 24px;color:#808080">Gmail</a>
  <a style="margin-left:8px;color:#808080;">Images</a>
  <a style="margin-left:8px;color:#808080">Notifications</a>
  <button class="btn btn-default" style="margin-left:8px;background-color:#4285f4;color:#ffffff">Sign In</button>
</div>
<div margin-top="200px"></div>
<logo-root></logo-root>
<div align="middle">
<button align="center" class="btn btn" style="outline:solid;
                                              outline-color: #e0e0e0;
                                              background-color: #ffffff;
                                              outline-width: thin"
        align="middle">
  <search-box-root> </search-box-root>
  <!--<app-voice-search></app-voice-search>-->
</button>
</div>
<app-google-buttons></app-google-buttons>
<app-languages></app-languages>
<app-bottom-div></app-bottom-div>
