<div class="row" style="padding:10px;background-color: #eeeeee;height:40px;margin-top:85px; border-top:1px solid #e0e0e0;">
  <span style="text-align:left;margin-left: 30px; text-color:#000000">
  <a style="padding-left: 27px;color:#808080">Advertising</a>
  <a style="padding-left: 27px;color:#808080">Business</a>
  <a style="padding-left: 27px;color:#808080">About</a>
  </span>
  <span style="float:right;margin-right: 30px; text-color:#000000">
  <a style="color:#808080;padding-right: 27px;">Privacy</a>
  <a style="color:#808080;padding-right: 27px;">Terms</a>
  <a style="color:#808080;padding-right: 27px;">Settings</a>
  </span>
</div>
